'''
python -m pip install -r requirements.txt -y
python -m pip uninstall -r requirements.txt -y
'''

Flask                  ==1.1.2
Flask-Admin            ==1.5.4
Flask-Caching          ==1.3.3
Flask-Login            ==0.4.1
flask-swagger          ==0.2.13
Flask-WTF              ==0.14.3